/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  font-family: Georgia, serif;
  color: rgb(21, 76, 199);
  font-size: 30px;
  line-height: 1em;
  text-align: center;
}

table.center {
  margin-left:auto;
  margin-right:auto;  
}

table {
  color: #333;
  /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid #CCC;
  height: 30px;
}


/* Make cells a bit taller */

th {
  background: #c9c9c9;
  /* Light grey background */
  font-weight: bold;
  /* bold */
}

td {
  background: #FAFAFA;
  /* Lighter grey background */
  text-align: center;
  /* Center text */
}
