<h1>Craigslist apts/housing listings</h1>
<div>
  <table class="center">
    <tr>
      <th> Price </th>
      <th>Number of listings</th>
    </tr>
    <tr>
      <td> $0 - $200<sup>(1)</sup> </td>
      <td><%= @posts_200 %></td>
    </tr>

    <% @apt_price_info.each do |listing| %>
    <tr>
      <td> $<%= listing[:price_start] %> - $<%= listing[:limit_price] %></td>
      <td><%= listing[:count] %></td>
    </tr>
    <% end %>

  </table>
  <p>
    Some apartment listings with the value of $0 might not have a price listed on their ad.<sup>1</sup>
  </p>

</div>
